//
// Bootstrap Variables
// --------------------------------------------------

// Fonts
$font-family-base: 'Roboto', sans-serif;
$font-family-serif: 'Playfair Display', serif;

// Color
$brand-primary: #00A5BC;
$brand-primary-variant: #205B67;

$brand-secondary: #95BF15;
$brand-secondary-variant: #7AA006;

$brand-tertiary: #F8533B;
$brand-tertiary-variant: #A92310;
