<!doctype html>
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Grunt SASS Boilerplate</title>
	
	<!-- Meta for viewport -->
	<meta name="viewport" content="initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicons -->
	<link rel="manifest" href="app/assets/images/favicons/manifest.json">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="theme-color" content="#fff">
	<meta name="application-name" content="NRMA OK">
	<link rel="apple-touch-icon" sizes="57x57" href="app/assets/images/favicons/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="app/assets/images/favicons/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="app/assets/images/favicons/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="app/assets/images/favicons/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="app/assets/images/favicons/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="app/assets/images/favicons/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="app/assets/images/favicons/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="app/assets/images/favicons/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="app/assets/images/favicons/apple-touch-icon-180x180.png">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="apple-mobile-web-app-title" content="NRMA OK">
	<link rel="icon" type="image/png" sizes="228x228" href="app/assets/images/favicons/coast-228x228.png">
	<link rel="yandex-tableau-widget" href="app/assets/images/favicons/yandex-browser-manifest.json">
	<meta name="msapplication-TileColor" content="#fff">
	<meta name="msapplication-TileImage" content="app/assets/images/favicons/mstile-144x144.png">
	<meta name="msapplication-config" content="app/assets/images/favicons/browserconfig.xml">
	<link rel="icon" type="image/png" sizes="32x32" href="app/assets/images/favicons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="192x192" href="app/assets/images/favicons/android-chrome-192x192.png">
	<link rel="icon" type="image/png" sizes="16x16" href="app/assets/images/favicons/favicon-16x16.png">
	<link rel="shortcut icon" href="app/assets/images/favicons/favicon.ico">
	<link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" href="app/assets/images/favicons/apple-touch-startup-image-320x460.png">
	<link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" href="app/assets/images/favicons/apple-touch-startup-image-640x920.png">
	<link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="app/assets/images/favicons/apple-touch-startup-image-640x1096.png">
	<link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="app/assets/images/favicons/apple-touch-startup-image-750x1294.png">
	<link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)" href="app/assets/images/favicons/apple-touch-startup-image-1182x2208.png">
	<link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)" href="app/assets/images/favicons/apple-touch-startup-image-1242x2148.png">
	<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" href="app/assets/images/favicons/apple-touch-startup-image-748x1024.png">
	<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" href="app/assets/images/favicons/apple-touch-startup-image-768x1004.png">
	<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" href="app/assets/images/favicons/apple-touch-startup-image-1496x2048.png">
	<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href="app/assets/images/favicons/apple-touch-startup-image-1536x2008.png">

	<!-- Meta -->
	<meta name="keywords" content="fed boilerplate" />
	<meta name="description" content="fed boilerplate" />

	<!-- Facebook meta -->
	<meta property="og:title" content="fed boilerplate" />
	<meta property="og:type" content="website"/>
	<meta property="og:description" content="fed boilerplate">
	<meta property="og:image" content="http://www.fedboilerplate.com.au/assets/images/fb.jpg">
	<meta property="og:url" content="http://www.fedboilerplate.com.au" />
	<meta property="og:type" content="website"/>

	<!-- Twitter meta -->                
	<meta name="twitter:card" content="summary">
	<meta name="twitter:url" content="https://twitter.com/fedboilerplate">
	<meta name="twitter:title" content="fed boilerplate">
	<meta name="twitter:description" content="fed boilerplate">
	<meta name="twitter:site" content="fed boilerplate">

	<!-- Google+ meta -->
	<meta itemprop="name" content="fed boilerplate">
	<meta itemprop="description" content="fed boilerplate">

	<!-- Main Styles -->
	<link rel="stylesheet" href="styles/main.css">
	
	<!-- Browser polyfill fixes -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="scripts/vendor/html5shiv/dist/html5shiv.js"></script>
      <script type="text/javascript" src="scripts/vendor/respond/src/respond.js"></script>
      <script type="text/javascript" src="scripts/vendor/selectivizr/selectivizr.js"></script>
      <![endif]-->

  </head>
  <body ng-app="myApp">
  	

  	<!-- Include header file -->
  	<div ng-include="'includes/header.html'"></div>


  	<main class="container">
  		
  		<!-- Bootstrap Jumbotron -->
  		<div class="jumbotron">
  			<h1>Style Guide</h1>
  			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum vero eveniet, illo soluta, deserunt maiores ipsum. Quae nisi neque temporibus beatae nesciunt mollitia expedita assumenda. Nobis vitae rem, excepturi explicabo.</p>
  			<br/>
  			
  			<div class="col-xs-12 text-center">
  				<ul class="list-inline" ng-init="group = 'all'">
  					<li><a href="#" ng-click="group = 'all'">All</a></li>
  					<li><a href="#" ng-click="group = 'colors'">Colors</a></li>
  					<li><a href="#" ng-click="group = 'typography'">Typography</a></li>
  					<li><a href="#" ng-click="group = 'headings'">Headings</a></li>
  					<li><a href="#" ng-click="group = 'buttons'">Buttons</a></li>
  					<li><a href="#" ng-click="group = 'form'">Form Elements</a></li>
  				</ul>
  			</div>
  			

  		</div>

  	</main>
  	<main class="style-guide">


  		<!-- Colors -->
  		<div ng-class="{ 'hidden': group != 'colors' && group != 'all'}">
  			<div class="style-heading">
  				<div class="container">
  					<div class="row">
  						<div class="col-md-12">
  							<h2>Colors</h2>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="style">
  				<div class="container">
  					<div class="row vertical-center">
  						<div class="col-xs-12 col-md-6 style-sample">

  							<div class="row">
  								<div class="col-xs-2 style-color"><span class="bg-color-primary">#00A5BC</span></div>
  								<div class="col-xs-2 style-color"><span class="bg-color-primary-variant">#205B67</span></div>

  								<div class="col-xs-2 style-color"><span class="bg-color-secondary">#95BF15</span></div>
  								<div class="col-xs-2 style-color"><span class="bg-color-secondary-variant">#7AA006</span></div>

  								<div class="col-xs-2 style-color"><span class="bg-color-tertiary">#F8533B</span></div>
  								<div class="col-xs-2 style-color"><span class="bg-color-tertiary-variant">#A92310</span></div>
  							</div>
  							
  						</div>
  						<div class="col-xs-12 col-md-6 style-vars">

  							<samp>
  								<var>$brand-primary: </var>#00A5BC;<br/>
  								<var>$brand-primary-variant: </var>#205B67;<br/>

  								<var>$brand-secondary: </var>#95BF15;<br/>
  								<var>$brand-secondary-variant: </var>#7AA006;<br/>

  								<var>$brand-tertiary: </var>#F8533B;<br/>
  								<var>$brand-tertiary-variant: </var>#A92310;
  							</samp>
  							
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>







  		<!-- Typography -->
  		<div ng-class="{ 'hidden': group != 'typography' && group != 'all'}">
  			<div class="style-heading">
  				<div class="container">
  					<div class="row">
  						<div class="col-md-12">
  							<h2>Typography</h2>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="style">
  				<div class="container">
  					<div class="row vertical-center">
  						<div class="col-xs-12 col-md-6 style-sample">
  							
  							<h1>Playfair</h1>
  							<p class="font-serif">
  								a b c d e f g h i j k l m n o p q r s t u v w x y z<br/>
  								A B C D E F G H I J K L M N O P Q R S T U V W X Y Z<br/>
  								1 2 3 4 5 6 7 8 9 0
  							</p>
  							
  						</div>
  						<div class="col-xs-12 col-md-6 style-vars">

  							<samp>
  								<var>$font-family-serif: </var>'Playfair Display', serif;
  							</samp>
  							
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="style single">
  				<div class="container">
  					<div class="row">

  						<div class="col-xs-12 col-md-4 style-sample">
  							<label class="style-label">Regular</label>
  							<p class="font-serif">The quick brown fox jumps over the lazy dog. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eveniet deserunt dolores magni quae sint ipsa, impedit quisquam alias tenetur nihil voluptatibus excepturi minima exercitationem eius non quo numquam quis?</p>
  						</div>
  						<div class="col-xs-12 col-md-4 style-sample">
  							<label class="style-label">Bold</label>
  							<p class="font-serif">The quick brown fox jumps over the lazy dog. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eveniet deserunt dolores magni quae sint ipsa, impedit quisquam alias tenetur nihil voluptatibus excepturi minima exercitationem eius non quo numquam quis?</strong></p>
  						</div>
  						<div class="col-xs-12 col-md-4 style-sample">
  							<label class="style-label">Italic</label>
  							<p class="font-serif"><em>The quick brown fox jumps over the lazy dog. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eveniet deserunt dolores magni quae sint ipsa, impedit quisquam alias tenetur nihil voluptatibus excepturi minima exercitationem eius non quo numquam quis?</em></p>
  						</div>
  						
  					</div>
  				</div>
  			</div>
  			<div class="style">
  				<div class="container">
  					<div class="row vertical-center">
  						<div class="col-xs-12 col-md-6 style-sample">
  							
  							<h1 class="font-base">Roboto</h1>
  							<p>
  								a b c d e f g h i j k l m n o p q r s t u v w x y z<br/>
  								A B C D E F G H I J K L M N O P Q R S T U V W X Y Z<br/>
  								1 2 3 4 5 6 7 8 9 0
  							</p>
  							
  						</div>
  						<div class="col-xs-12 col-md-6 style-vars">

  							<samp>
  								<var>$font-family-base: </var>'Roboto', sans-serif;
  							</samp>
  							
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="style single">
  				<div class="container">
  					<div class="row">

  						<div class="col-xs-12 col-md-4 style-sample">
  							<label class="style-label">Regular</label>
  							<p>The quick brown fox jumps over the lazy dog. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eveniet deserunt dolores magni quae sint ipsa, impedit quisquam alias tenetur nihil voluptatibus excepturi minima exercitationem eius non quo numquam quis?</p>
  						</div>
  						<div class="col-xs-12 col-md-4 style-sample">
  							<label class="style-label">Bold</label>
  							<p><strong>The quick brown fox jumps over the lazy dog. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eveniet deserunt dolores magni quae sint ipsa, impedit quisquam alias tenetur nihil voluptatibus excepturi minima exercitationem eius non quo numquam quis?</strong></p>
  						</div>
  						<div class="col-xs-12 col-md-4 style-sample">
  							<label class="style-label">Italic</label>
  							<p><em>The quick brown fox jumps over the lazy dog. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex eveniet deserunt dolores magni quae sint ipsa, impedit quisquam alias tenetur nihil voluptatibus excepturi minima exercitationem eius non quo numquam quis?</em></p>
  						</div>
  						
  					</div>
  				</div>
  			</div>

  			<div class="style">
  				<div class="container">
  					<div class="row vertical-center">
  						<div class="col-xs-12 col-md-6 style-sample">
  							
  							<label class="style-label">Paragraph</label>
  							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi vero sapiente consectetur distinctio expedita commodi placeat pariatur, nisi. Obcaecati unde, excepturi id! Autem eum nobis animi voluptatibus facere pariatur atque.</p>
  							
  						</div>
  						<div class="col-xs-12 col-md-6 style-vars">

  							<samp>
  								<var>font-size: </var>14px;<br/>
  								<var>line-height: </var>1.4;<br/>
  								<var>margin-bottom: </var>10px;
  							</samp>
  							
  						</div>
  					</div>
  				</div>
  			</div>

  			<div class="style">
  				<div class="container">
  					<div class="row vertical-center">
  						<div class="col-xs-12 col-md-6 style-sample">
  							
  							<label class="style-label">Introduction Paragraph</label>
  							<p class="introduction">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi vero sapiente consectetur distinctio expedita commodi placeat pariatur, nisi. Obcaecati unde, excepturi id! Autem eum nobis animi voluptatibus facere pariatur atque.</p>
  							
  						</div>
  						<div class="col-xs-12 col-md-6 style-vars">

  							<samp>
  								<var>font-size: </var>18px;<br/>
  								<var>line-height: </var>1.4;<br/>
  								<var>margin-bottom: </var>20px;
  							</samp>
  							
  						</div>
  					</div>
  				</div>
  			</div>

  			<div class="style">
  				<div class="container">
  					<div class="row vertical-center">
  						<div class="col-xs-12 col-md-6 style-sample">
  							
  							<label class="style-label">Hypertext</label>
  							<p><a href="">Lorem ipsum dolor sit amet</a>, consectetur adipisicing elit. <a href="">Eligendi</a> vero sapiente consectetur distinctio expedita commodi placeat pariatur, nisi. Obcaecati unde, excepturi id! Autem eum nobis animi voluptatibus <a href="">facere</a> pariatur atque.</p>
  							
  							
  						</div>
  						<div class="col-xs-12 col-md-6 style-vars">

  							<samp>
  								<var>color: </var>#337ab7;<br/>
  								<var>text-decoration: </var>underline;
  							</samp>
  							
  						</div>
  					</div>
  				</div>
  			</div>

  			<div class="style">
  				<div class="container">
  					<div class="row vertical-center">
  						<div class="col-xs-12 col-md-6 style-sample">
  							
  							<label class="style-label">Superscript</label>
  							<p>Lorem ipsum dolor sit amet<sup>1,2,3</sup>, consectetur adipisicing elit<sup>1,2,3</sup>. Eligendi vero sapiente consectetur distinctio expedita commodi placeat pariatur, nisi. Obcaecati unde, excepturi id! Autem eum nobis animi voluptatibus facere<sup>1,2,3</sup> pariatur atque.</p>
  							
  						</div>
  						<div class="col-xs-12 col-md-6 style-vars">

  							<samp>
  								<var>font-size: </var>75%;
  							</samp>
  							
  						</div>
  					</div>
  				</div>
  			</div>

  			<div class="style">
  				<div class="container">
  					<div class="row vertical-center">
  						<div class="col-xs-12 col-md-6 style-sample">
  							
  							<label class="style-label">Subscript</label>
  							<p>Lorem ipsum dolor sit amet<sub>1,2,3</sub>, consectetur adipisicing elit<sub>1,2,3</sub>. Eligendi vero sapiente consectetur distinctio expedita commodi placeat pariatur, nisi. Obcaecati unde, excepturi id! Autem eum nobis animi voluptatibus<sub>1,2,3</sub> facere pariatur atque.</p>
  							
  						</div>
  						<div class="col-xs-12 col-md-6 style-vars">

  							<samp>
  								<var>font-size: </var>75%;
  							</samp>
  							
  						</div>
  					</div>
  				</div>
  			</div>

  			<div class="style">
  				<div class="container">
  					<div class="row vertical-center">
  						<div class="col-xs-12 col-md-6 style-sample">
  							
  							<label class="style-label">Small</label>
  							<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi vero sapiente consectetur distinctio expedita commodi placeat pariatur, nisi. Obcaecati unde, excepturi id! Autem eum nobis animi voluptatibus facere pariatur atque.</small>
  							
  						</div>
  						<div class="col-xs-12 col-md-6 style-vars">

  							<samp>
  								<var>font-size: </var>85%;
  							</samp>
  							
  						</div>
  					</div>
  				</div>
  			</div>

  			<div class="style">
  				<div class="container">
  					<div class="row vertical-center">
  						<div class="col-xs-12 col-md-6 style-sample">
  							
  							<label class="style-label">Unordered list</label>
  							<ul>
  								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li> 
  								<li>Eligendi vero sapiente consectetur distinctio.</li>
  								<li>Expedita commodi placeat pariatur.
  									<ul>
  										<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li> 
  										<li>Eligendi vero sapiente consectetur distinctio.</li>
  										<li>Expedita commodi placeat pariatur.</li>
  									</ul>
  								</li>
  							</ul>
  							
  						</div>
  						<div class="col-xs-12 col-md-6 style-vars">

  							<samp>
  								<var>margin-bottom:</var> 20px;<br/>
  								<var>margin-top:</var> 0;
  							</samp>
  							
  						</div>
  					</div>
  				</div>
  			</div>

  			<div class="style">
  				<div class="container">
  					<div class="row vertical-center">
  						<div class="col-xs-12 col-md-6 style-sample">
  							
  							<label class="style-label">Ordered list</label>
  							<ol>
  								<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li> 
  								<li>Eligendi vero sapiente consectetur distinctio.</li>
  								<li>Expedita commodi placeat pariatur.
  									<ol>
  										<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li> 
  										<li>Eligendi vero sapiente consectetur distinctio.</li>
  										<li>Expedita commodi placeat pariatur.</li>
  									</ol>
  								</li>
  							</ol>
  							
  						</div>
  						<div class="col-xs-12 col-md-6 style-vars">

  							<samp>
  								<var>margin-bottom:</var> 20px;<br/>
  								<var>margin-top:</var> 0;
  							</samp>
  							
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>

  		







  		<!-- Headings -->
  		<div ng-class="{ 'hidden': group != 'headings' && group != 'all'}">
  			<div class="style-heading">
  				<div class="container">
  					<div class="row">
  						<div class="col-md-12">
  							<h2>Headings</h2>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="style">
  				<div class="container">
  					<div class="row vertical-center">
  						<div class="col-xs-12 col-md-6 style-sample">
  							
  							<label class="style-label">h1</label>
  							<h1>The quick brown fox jumps over the lazy dog</h1>
  							
  						</div>
  						<div class="col-xs-12 col-md-6 style-vars">

  							<samp class="visible-xs">
  								<var>font-family:</var> 'Playfair Display', serif;<br/>
  								<var>font-size:</var> 30px;<br/>
  								<var>line-height:</var> 1.2;<br/>
  							</samp>
  							<samp class="visible-sm">
  								<var>font-family:</var> 'Playfair Display', serif;<br/>
  								<var>font-size:</var> 40px;<br/>
  								<var>line-height:</var> 1.2;<br/>
  							</samp>
  							<samp class="visible-md visible-lg">
  								<var>font-family:</var> 'Playfair Display', serif;<br/>
  								<var>font-size:</var> 50px;<br/>
  								<var>line-height:</var> 1.2;<br/>
  							</samp>
  							
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="style">
  				<div class="container">
  					<div class="row vertical-center">
  						<div class="col-xs-12 col-md-6 style-sample">
  							
  							<label class="style-label">h2</label>
  							<h2>The quick brown fox jumps over the lazy dog</h2>
  							
  						</div>
  						<div class="col-xs-12 col-md-6 style-vars">

  							<samp class="visible-xs">
  								<var>font-family:</var> 'Playfair Display', serif;<br/>
  								<var>font-size:</var> 20px;<br/>
  								<var>line-height:</var> 1.2;<br/>
  							</samp>
  							<samp class="visible-sm">
  								<var>font-family:</var> 'Playfair Display', serif;<br/>
  								<var>font-size:</var> 30px;<br/>
  								<var>line-height:</var> 1.2;<br/>
  							</samp>
  							<samp class="visible-md visible-lg">
  								<var>font-family:</var> 'Playfair Display', serif;<br/>
  								<var>font-size:</var> 40px;<br/>
  								<var>line-height:</var> 1.2;<br/>
  							</samp>
  							
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="style">
  				<div class="container">
  					<div class="row vertical-center">
  						<div class="col-xs-12 col-md-6 style-sample">
  							
  							<label class="style-label">h3</label>
  							<h3>The quick brown fox jumps over the lazy dog</h3>
  							
  						</div>
  						<div class="col-xs-12 col-md-6 style-vars">

  							<samp class="visible-xs">
  								<var>font-family:</var> 'Playfair Display', serif;<br/>
  								<var>font-size:</var> 18px;<br/>
  								<var>line-height:</var> 1.2;<br/>
  							</samp>
  							<samp class="visible-sm">
  								<var>font-family:</var> 'Playfair Display', serif;<br/>
  								<var>font-size:</var> 20px;<br/>
  								<var>line-height:</var> 1.2;<br/>
  							</samp>
  							<samp class="visible-md visible-lg">
  								<var>font-family:</var> 'Playfair Display', serif;<br/>
  								<var>font-size:</var> 30px;<br/>
  								<var>line-height:</var> 1.2;<br/>
  							</samp>
  							
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="style">
  				<div class="container">
  					<div class="row vertical-center">
  						<div class="col-xs-12 col-md-6 style-sample">
  							
  							<label class="style-label">h4</label>
  							<h4>The quick brown fox jumps over the lazy dog</h4>
  							
  						</div>
  						<div class="col-xs-12 col-md-6 style-vars">

  							<samp class="visible-xs">
  								<var>font-family:</var> 'Playfair Display', serif;<br/>
  								<var>font-size:</var> 16px;<br/>
  								<var>line-height:</var> 1.2;<br/>
  							</samp>
  							<samp class="visible-sm">
  								<var>font-family:</var> 'Playfair Display', serif;<br/>
  								<var>font-size:</var> 18px;<br/>
  								<var>line-height:</var> 1.2;<br/>
  							</samp>
  							<samp class="visible-md visible-lg">
  								<var>font-family:</var> 'Playfair Display', serif;<br/>
  								<var>font-size:</var> 20px;<br/>
  								<var>line-height:</var> 1.2;<br/>
  							</samp>
  							
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>








  		<!-- Buttons -->
  		<div ng-class="{ 'hidden': group != 'buttons' && group != 'all'}">
  			<div class="style-heading">
  				<div class="container">
  					<div class="row">
  						<div class="col-md-12">
  							<h2>Buttons</h2>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="style">
  				<div class="container">
  					<div class="row vertical-center">
  						<div class="col-xs-12 col-md-6 style-sample">
  							
  							<label class="style-label">Button style 1</label>
  							<button class="btn btn-default">Submit</button>
  							
  						</div>
  						<div class="col-xs-12 col-md-6 style-vars">

  							<samp>
  								<var>color:</var> #333;<br/>
  								<var>background-color:</var> #fff;<br/>
  								<var>border:</var> solid 1px #ccc;<br/>
  								<var>border-radius:</var> 4px;<br/>
  								<var>padding:</var> 6px 12px;
  							</samp>
  							
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="style">
  				<div class="container">
  					<div class="row vertical-center">
  						<div class="col-xs-12 col-md-6 style-sample">
  							
  							<label class="style-label">Button style 2</label>
  							<button class="btn btn-primary">Submit</button>
  							
  						</div>
  						<div class="col-xs-12 col-md-6 style-vars">

  							<samp>
  								<var>color:</var> #fff;<br/>
  								<var>background-color:</var> #337ab7;<br/>
  								<var>border:</var> solid 1px #2e6da4;<br/>
  								<var>border-radius:</var> 4px;<br/>
  								<var>padding:</var> 6px 12px;
  							</samp>
  							
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>







  		<!-- Form Elements -->
  		<div ng-class="{ 'hidden': group != 'form' && group != 'all'}">
  			<div class="style-heading">
  				<div class="container">
  					<div class="row">
  						<div class="col-md-12">
  							<h2>Form Elements</h2>
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="style">
  				<div class="container">
  					<div class="row vertical-center">
  						<div class="col-xs-12 col-md-6 style-sample">
  							
  							<label class="style-label">Checkbox list</label>
  							<ul class="list-checkboxes">
  								<li class="checkbox"><label for="chk1">Checkbox 1</label> <input id="chk1" name="chk1" type="checkbox"><span></span></li>
  								<li class="checkbox"><label for="chk2">Checkbox 2</label> <input id="chk2" name="chk2" type="checkbox"><span></span></li>
  								<li class="checkbox"><label for="chk3">Checkbox 3</label> <input id="chk3" name="chk3" type="checkbox"><span></span></li>
  							</ul>
  							
  						</div>
  						<div class="col-xs-12 col-md-6 style-vars">
  							
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="style">
  				<div class="container">
  					<div class="row vertical-center">
  						<div class="col-xs-12 col-md-6 style-sample">
  							
  							<label class="style-label">Radio list</label>
  							
  							<ul class="list-radios">
  								<li class="radio"><label for="radio01">Radio Button 1</label><input id="radio01" name="radio" type="radio"><span></span></li>
  								<li class="radio"><label for="radio02">Radio Button 2</label><input id="radio02" name="radio" type="radio"><span></span></li>
  								<li class="radio"><label for="radio03">Radio Button 3</label><input id="radio03" name="radio" type="radio"><span></span></li>
  							</ul>
  							
  						</div>
  						<div class="col-xs-12 col-md-6 style-vars">
  							
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="style">
  				<div class="container">
  					<div class="row vertical-center">
  						<div class="col-xs-12 col-md-6 style-sample">
  							
  							<label class="style-label">Textbox</label>
  							
  							<input type="text" placeholder="Textbox"/>
  							
  						</div>
  						<div class="col-xs-12 col-md-6 style-vars">
  							
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="style">
  				<div class="container">
  					<div class="row vertical-center">
  						<div class="col-xs-12 col-md-6 style-sample">
  							
  							<label class="style-label">Password</label>
  							
  							<input type="password" placeholder="Password"/>
  							
  						</div>
  						<div class="col-xs-12 col-md-6 style-vars">
  							
  						</div>
  					</div>
  				</div>
  			</div>
  			<div class="style">
  				<div class="container">
  					<div class="row vertical-center">
  						<div class="col-xs-12 col-md-6 style-sample">
  							
  							<label class="style-label">Dropdown list</label>
  							
  							<select>
  								<option>Option 1</option>
  								<option>Option 2</option>
  								<option>Option 3</option>
  							</select>
  							
  						</div>
  						<div class="col-xs-12 col-md-6 style-vars">
  							
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>


  		



  		<br/>
  		<br/>
  		<br/>
  		<br/>
  		<br/>





  	</main>


  	<!-- Include footer file -->
  	<div ng-include="'includes/footer.html'"></div>


  	<!-- build:js scripts/lib.js -->
        <!-- Vendor scripts -->
        <script src="../node_modules/jquery/dist/jquery.js"></script>
        <script src="../node_modules/angular/angular.js"></script>
        <script src="../node_modules/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
        <!-- Custom JS -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/controllers.js"></script>
        <script src="scripts/services/services.js"></script>
        <script src="scripts/directives/directives.js"></script>
    <!-- endbuild -->
  	
</body>
</html>